{% extends "base.html" %}



{% block content %}
    <div class="container">
        <!-- Display flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-dismissible {{ category }}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <h1>Admin Homepage</h1>

        <div class="row">
            <!-- Admin Nav Menu -->
            <div id="adminNav" class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title" style="text-align: center;">Admin Tools</h2>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item active">
                                <a data-toggle="tab" href="#carousel">Manage Carousel Photos</a>
                            </li>
                            <li class="list-group-item">
                                <a data-toggle="tab" href="#other">Other</a>
                            </li>
                            <li class="list-group-item">
                                <a data-toggle="tab" href="#">Link 3</a>
                            </li>
                            <li class="list-group-item">
                                <a data-toggle="tab" href="#">Link 4</a>
                            </li>
                            <li class="list-group-item">
                                <a data-toggle="tab" href="#">Link 5</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Admin Nav Content || Stored in tab-content to allow for dynamic page content. -->
            <div class="tab-content">
                <!-- Manage Carousel Photos -->
                <div class="tab-pane active col-md-9" id="carousel">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title" style="text-align: center;">Manage Carousel Photos</h2>
                        </div>
                        <div class="panel-body">
                            <p>There are currently <strong>{{ numphotos }}</strong> photos displayed in the carousel.
                                They are:</p>

                            <!-- Thumbnails of the photos in the carousel -->
                            {% for photo in photos %}
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail">
                                        <img src="{{ url_for('static', filename="images/" + photo.file_location) }}"
                                             alt="Campsite Image">
                                        <div class="caption">
                                            <h4>{{ photo.main_caption }}</h4>
                                            <p>{{ photo.sub_caption }}</p>

                                            <!-- manage photo buttons -->
                                            <div class="btn-group">
                                                <a href="#" class="btn btn-default">Change</a>
                                                <a href="#" class="btn btn-default dropdown-toggle"
                                                   data-toggle="dropdown"><span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Remove from carousel</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#" data-toggle="modal"
                                                           data-target="#cap_id{{ photo.id }}">Edit main caption</a>
                                                    </li>
                                                    <li><a href="#" data-toggle="modal"
                                                           data-target="#subcap_id{{ photo.id }}">Edit sub caption</a>
                                                    </li>
                                                </ul>
                                            </div>

                                            <!-- Main caption editor -->
                                            <div class="modal fade" id="cap_id{{ photo.id }}">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-hidden="true">&times;
                                                            </button>
                                                            <h4 class="modal-title">Modal title</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <textarea class="form-control" rows="3" id="textArea"
                                                                      style="width: 100%; height: 101px;">{{ photo.main_caption }}</textarea>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <button type="button" class="btn btn-primary">Save changes
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Sub caption editor -->
                                            <div class="modal fade" id="subcap_id{{ photo.id }}">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-hidden="true">&times;
                                                            </button>
                                                            <h4 class="modal-title">Modal title</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <textarea class="form-control" rows="3" id="textArea"
                                                                      style="width: 100%; height: 101px;">{{ photo.sub_caption }}</textarea>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <button type="button" class="btn btn-primary">Save changes
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div><!-- caption & buttons -->
                                    </div> <!-- thumbnail -->
                                </div> <!-- thumbnail columns -->
                            {% endfor %}


                        </div>
                    </div>
                </div><!-- end of Manage Carousel Photos -->

                <!-- Next tab TBA -->
                <div class="tab-pane col-md-8" id="other">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title" style="text-align: center;">Other</h2>
                        </div>
                        <div class="panel-body">
                            oi oi
                        </div>
                    </div>
                </div>

            </div><!-- tab-content -->
        </div><!-- row -->
    </div><!-- container -->
{% endblock %}