{% extends "bootstrap/base.html" %}


{% block title %}
  {% if title %}
    {{ title }} - Microblog
  {% else %}
    Welcome to Microblog
  {% endif %}
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block navbar %}
    <!-- Nav bar -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for("index") }}">Home</a>
                <a class="navbar-brand" href="{{ url_for("login") }}">Log in</a>
                <a class="navbar-brand" href="{{ url_for("logout") }}">Log out</a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}{% endblock %}
