{% extends "base.html" %}

{% block content %}
    <div class="container">
        <!-- Display flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-dismissible {{ category }}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% if current_user.is_authenticated %}
            <h1>Welcome to Holtwood Leisure, {{ current_user.username.title() }}!</h1>
        {% else %}
            <h1>Welcome to Holtwood Leisure!</h1>
        {% endif %}


        <!-- start of carousel -->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                {% for photo in photos %}
                    <div class="item {% if photo.id == startingPhoto %}active{% endif %}">
                        <img src="{{ url_for('static', filename="images/" + photo.file_location) }}"
                             alt="Campsite Photo">
                        <div class="carousel-caption">
                            <h4>{{ photo.main_caption }}</h4>

                            <p>{{ photo.sub_caption }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div><!-- end of carousel -->

        <!-- start of left panel -->
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title" style="text-align: center;">Camp Availability Checker</h2>
                </div>
                <div class="panel-body">
                    To book a stay at Holtwood Leisure please visit the <a href="{{ url_for("bookings") }}">booking
                    page</a>!
                    <br/><br/>

                    <!-- Date Available form -->
                    <form action="" method="post" class="form-horizontal">
                        {{ availabilityForm.hidden_tag() }}
                        <p>
                            {{ availabilityForm.dt.label }}<br/>
                            {{ availabilityForm.dt(size=32) }}<br/>

                            <!-- Display errors -->
                            {% for error in availabilityForm.dt.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </p>
                        <p>{{ availabilityForm.submit() }}</p>
                    </form>
                </div>
            </div>
        </div><!-- end of left panel -->

        <!-- start of right panel -->
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title" style="text-align: center;">Right panel</h2>
                </div>
                <div class="panel-body">
                    This is the right panel
                </div>
            </div>
        </div><!-- end of right panel -->
    </div>
{% endblock %}
