{% extends "base.html" %}

{% block content %}
    <div class="container">
        <!-- Display flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% if current_user.is_authenticated %}
            <h1>Welcome to Holtwood Leisure, {{ current_user.username.title() }}!</h1>
        {% else %}
            <h1>Welcome to Holtwood Leisure!</h1>
        {% endif %}
    </div>
{% endblock %}
